.button-banner {
	padding: 20px 50px;
	background-color: #f48c06;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	border-radius: 30px;
	text-decoration: none;
	margin-top: 150px;
}

.button-banner:hover {
	background-color: #e85d04;
}